*{
    padding: 0;
    margin: 0;
}
@media only screen and (min-width: 768px) {
    .none {
        display: none;
    }

    .remove {
        display: block;
    }

    .total-desktop-heading {
        display: block;
    }

    .heading-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 2rem;
    }

    .desktop-lists {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        padding-right: 4rem;
        flex-wrap: wrap;

    }

    .desktop-lists li a {
        text-decoration: none;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 800;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #868686;
        padding-right: 2.5rem;
    }

    .header {
        background-color: #3E3E3E;
        width: 100%;
    }

    .header ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        padding-right: 8rem;
        flex-wrap: wrap;
    }

    .header ul li {
        padding: 0.8rem;
    }

    .header ul li a {
        text-decoration: none;
        color: white;
    }

    .first-part h1 {
        padding-top: 5rem;
    }

    .first-part-about {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 30rem;
    }

    .bg-white {
        margin: 0 20rem;
    }

    .creative {
        margin: 2rem 18rem;
    }

    .creative h3 {
        font-size: 2rem;
        font-weight: 500;
    }

    .creative img {
        padding: 0 5rem;
    }

    .past-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding: 0 10rem;
        margin-bottom: 2rem;
    }

    .past-img img {
        padding: 1rem;
        width: 100%;
    }

    .footer-desktop {
        display: flex;
        background-color: #3E3E3E;
        color: white;
        align-items: center;
        justify-content: center;
        padding: 4rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 8rem;
    }


    .footer-desktop img {
        align-self: center;
        width: 60%;
        padding: 0 4rem;
    }

    .featured-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin: 1rem 10rem;
    }

    .speaker-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .speakers-text {
     margin-right: -10rem;
    }

}